[Unit]
Description=TizenOS Smack Initialization Service
Before=sysinit.target
DefaultDependencies=no
ConditionPathExists=/sys/fs/smackfs

[Service]
Type=oneshot
ExecStart=/usr/bin/smack-manager /etc/smack/smack-default.rules
RemainAfterExit=yes

[Install]
WantedBy=sysinit.target
